<div class="center_content">
  <div id="right_wrap">
    <div id="right_content">
      <h2><%= current_user.name %></h2>
      <p>
        <strong>Email: </strong>
        <%= current_user.email %>
      </p>
    </div>
  </div>
  <div class="sidebar" id="sidebar">
    <h2>MI PERFIL</h2>
    <div class="sidebar_section_text">
      En esta area puedes ver los datos de tu usuario.
    </div>
  </div>
</div>
