<h1>Clientes</h1>
<% if Client.any? %>
  <h2>Listado</h2>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Contador de cuentas bancarias</th>
    </tr>
    <%= render @clients %>
  </table>
<% else %>
  <em>No hay ningun cliente en la tabla</em>
<% end %>
<p>
<%= link_to "Nuevo Cliente", new_client_path %>
</p>
