<%= render "submenu" %>
<div class="center_content">
  <div id="right_wrap">
    <div id="right_content">
      <h2>Nuevo Cliente</h2>
      <%= render "form" %>
    </div>
  </div>
  <div class="sidebar" id="sidebar">
    <h2>Clientes</h2>
    <div class="sidebar_section_text">
      En esta area puedes ver los clientes creados ademas de poder agregar nuevos. Usa el Link de 'Enviar Correo' para enviarles directamente un email al cliente seleccionado.
    </div>
  </div>
</div>

