<table id="rounded-corner">
  <tr>
    <th>Id</th>
    <th>Cliente</th>
    <th>Balance</th>
    <th>Currency</th>
    <th>Tipo</th>
  </tr>
  <%= render partial: "bank_account", collection: accounts, as: :account %>
</table>
