<div class="center_content">

  <h2>Cuentas Bancarias</h2>
  <% if @accounts.any? %>
    <table id="rounded-corner">
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Balance</th>
        <th>Currency</th>
        <th>Tipo</th>
      </tr>
      <%= render partial: "bank_account", collection: @accounts, as: :account %>
    </table>
  <% else %>
    <em>No hay ninguna cuenta creada</em>
  <% end %>
  <p>
  <%= link_to "Nueva Cuenta Bancaria", new_bank_account_path %>
  <%= link_to "Generar Intereses", rates_bank_accounts_path, method: :put, remote: true, class: "js_intereses" %>
  </p>

</div>
