<h1>Cuentas Bancarias</h1>
<% if @accounts.any? %>
  <h2>Listado</h2>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Cliente</th>
      <th>Balance</th>
      <th>Currency</th>
    </tr>
    <%= render partial: "bank_account", collection: @accounts, as: :account %>
  </table>
<% else %>
  <em>No hay ninguna cuenta creada</em>
<% end %>
<p>
<%= link_to "Nueva Cuenta Bancaria", new_bank_account_path %>
<%= link_to "Generar Intereses", rates_bank_accounts_path, method: :put %>
</p>
