<h2>Bienvenido <%= @user.name %>! </h2>
<p>Tu cuenta ha sido creada satisfactoriamente. Recuerda que tu correo sera
  <strong><%= @user.email %></strong>
</p>
<p>Puedes comenzar a utilizar nuestra aplicación ya!</p>
